@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
    /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/images/bg.png'); */
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	width: 100%;
	overflow-x: hidden;
}
.input > div > div >input{

    font-size: 1.15rem !important;
}